<nz-spin [nzSpinning]="userLoading">
  <div class="main" *ngIf="user">
    <div class="left">
      <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
        <se label="邮箱" error="请输入您的邮箱!">
          <input nz-input type="email" [(ngModel)]="profile.email" name="email" required />
        </se>
        <se label="姓名" error="请输入您的姓名!">
          <input nz-input [(ngModel)]="profile.realName" name="realName" required />
        </se>
        <se label="个人简介">
          <textarea nz-input [(ngModel)]="profile.detail" name="profile" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
            placeholder="个人简介"></textarea>
        </se>
        <se label="联系电话" error="请输入您的联系电话!">
          <input nz-input [(ngModel)]="profile.mobile" name="phone" required />
        </se>
        <se label="街道地址" error="请输入您的街道地址!">
          <input nz-input [(ngModel)]="profile.address" name="address" />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid">更新基本信息</button>
        </se>
      </form>
    </div>
    <div class="right">
      <div class="avatar_title">头像</div>
      <div class="avatar"><img src="{{ profile.avatar }}" alt="Avatar" style="border-radius: 50%;" /></div>
      <nz-upload [nzAction]="httpService.getUploadUrl()" [nzShowUploadList]="false" (nzChange)='changeAvatar($event)'>
        <button nz-button class="button_view">
          <i nz-icon nzType="upload"></i>
          <span>更换头像</span>
        </button>
      </nz-upload>
    </div>
  </div>
</nz-spin>
